- name: Stream to Telegram
      env:
        RTMP_URL: ${{ secrets.RTMP_URL }}
        STREAM_KEY: ${{ secrets.STREAM_KEY }}
      run: |
        # استریم با پشتیبانی RTMPS
        ffmpeg -re -loop 1 -framerate 25 -i Aramis.jpg \
               -stream_loop -1 -i music.mp3 \
               -c:v libx264 -preset ultrafast -tune zerolatency \
               -profile:v baseline -level 3.0 \
               -b:v 800k -maxrate 800k -bufsize 1600k \
               -vf "scale=1280:720:force_original_aspect_ratio=decrease,pad=1280:720:(ow-iw)/2:(oh-ih)/2,format=yuv420p,fps=25" \
               -g 50 -keyint_min 50 -sc_threshold 0 \
               -c:a aac -b:a 128k -ar 44100 -ac 2 \
               -f flv -rtmp_enhanced_codecs hvc1,av01,vp09 \
               "${RTMP_URL}${STREAM_KEY}"
